body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333333;
    color: white;
}

p {
    font-weight: 300px;
}

.titleCard {
    background-color: #e59124;
}

h1 { text-align: center;

}

.bodyCard {
    background-color: #ffe8cc;
    color: #08af59;
}

.scoreCard {
    background-color: #08af59;
}

.winCard {
    background-color: #06e2be;
}

img[src] {
    height: 120px;
    width: 120px;
    margin-top:10px
}