body {
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    background-image: url(../images/use_your_illusion.jpg);
    
    height: 100%;
    width: 100;
    margin:auto;
    color: white;
}

p {
    font-weight: 300px;
}

.titleCard {
    background-color: #f6a539;
    
}

h1 { text-align: center;
    font-weight: 600;
    text-shadow: 4px 4px 4px #aaa
}

span {
    font-size: 22px;
}

.bodyCard {
    background-color: #ffe8cc;
    color: #54b034;
}

.d-flex {
    background-color:#06a7e2;
}

.scoreCard {
    background-color: #54b034;
}



.crystal2 {
    margin-left:35px;
}

.crystal3 {
    margin-left:24px;
}

.crystal4 {
    margin-left:35px;
}

.currentScoreTitle {
    background-color: #06a7e2;
    line-height:75%;
}

.winCard {
    background-color: #06e2be;
}

.currentScore {
    background-color: #06a7e2;
}

.userScoreCard {
    background-color: #06a7e2;
}
img[src] {
    height: 120px;
    width: 120px;
    margin-top:10px
}